
/* HELPERS */


.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.clean-list{
    display: flex;
    list-style: none;
    text-decoration: none;                                       
}