
/* HELPERS */


.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.clean-list{
    display: flex;
    list-style: none;
    text-decoration: none;                                       
}

.padding {
    padding: 5px;
}

.center {
    display: block;
    margin: 1em;
    width: 50%;
  }