
/* HEADER & NAVBAR */

.top-header {
    background-color: orange;
    /* display: flex;
    justify-content: space-between; */
    padding: 0.625em;
}

.logo {
    display: flex;
    margin-left: 4em;
    align-items: center;
    align-content: center;
}

.top-header .nav-bar {
    justify-content: space-between;
}

.top-header .nav-bar ul {
    list-style-type: none;

}

.top-header .nav-bar a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em;
    text-decoration: none;
    font-size: 1.375em;
    color: white;
}
.top-header .nav-bar a:hover {
    color: black;
    transition: 0.3s;
}
